


body {


	background: url("img/nightsky.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: yellow;
	font-family: 'Verdana', sans-serif;
	margin: 0 auto;
}

#bodywrap {
	background: rgba(16, 16, 16, 0.70);
	margin-top: 20px;
	margin-right: 20%;
	margin-left: 20%;
	margin-bottom: 0;
	
}


#logo {

	max-width: 310px;
	max-height: 310px;
	position: absolute;
	z-index: 1;
	left: 1px;
	top: 0;
	margin-left: 20%;

}

nav { 

text-align: center;
background: linear-gradient( #5C258D 50%, #451A8B);
margin: 0;
border-bottom: orange solid 1px;
border-top: orange solid 1px;


}

nav ul {

	margin-left: 300px;
}

nav li {

	display: inline;
	text-decoration: none;
	padding: 0px 15px;
	font-size: 18px;
	color: yellow;
	font-family: 'Carrois Gothic SC', sans-serif;
  

	

}

#flying {
	max-height: 50px;
	max-width: 50px;
}

li:hover {
	color: orange;
}


.mainpwrap {
	background: black;
	margin-top: 0;
}

.mainpwrap p {
	padding: 5px;
	margin: 0;
	border-bottom: #5C258D  2px solid;
}


footer {

	background: linear-gradient( #5C258D 50%, #451A8B);
	margin: 0 auto;
	min-width: 100%;
	min-height: 50px;
	border-top: solid 5px orange;
	overflow: hidden;

}


#img {
	size: 60%;
	border-radius: 5%;
	border: solid 1px yellow;
	max-height: 600px;
	max-width: 600px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/* Scrolling img gallery*/


#scroller

{
	width: 100%;
	height: 400px;
	margin: 0 auto;
	
	
}


#scroller {
        position: relative;
    }
    #scroller .innerScrollArea {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    #scroller ul {
        padding: 0;
        margin: 0;
        position: relative;
    }
    #scroller li {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: absolute;
    }



.fb-page
{
	float: right;
	padding-right: 150px;
}

#map
{
	float: left;
}

.fb-page #map footer {
	overflow: hidden;
}
