
body {
	background-color: black;
	color: purple;
	margin: 0% 10% 5% 10%;
	
	background-image: url('img/stars.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;



}


/*header*/
header {
	background: linear-gradient(#2E0854, #2E0830 70%);

	
	


}

.info {
	margin: 0 auto;
	float: right;
	padding-top: 10px;
	color: yellow;
	padding-left: 5%;
	padding-right: 1%;
}

ul {
	margin: 0 auto;

}

li {
	text-decoration: none;
	display: inline;
	padding: 0px 30px 0 30px;
	border-right: #ee7600 solid 2px;
	border-top: #ee7600 solid 2px;
	background: radial-gradient(yellow, orange 80%);


	


}

#id {

	border-left: #ee7600 solid 2px;
}


nav {

	font-size: 30px;
	color: black;
	 text-shadow: 1px 1px blue;
	 font-family: 'Carrois Gothic SC', sans-serif;


}

#logo {
	max-height: 300px;
	max-width: 300px;
	margin: 0 auto;
	display: center;


}

/*main page*/


#centerpiece {
background: black;
border-top: 5px solid orange;

}
