







body {


	background: url("img/nightsky.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: yellow;
	font-family: 'Verdana', sans-serif;
	margin: 0 auto;
}

#bodywrap {
	 
	
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 0;
    
}

#bodywrap {
    
    font-family: 'Carrois Gothic SC', sans-serif;
    
}


#logo {

	max-width: 310px;
	max-height: 310px;
    padding-left: 20%;
    
	
	

}

header {

    
 
    
    margin-top: 0%;
    background: #000;
    border-bottom: orange solid 1px;
    padding: 10px;
    
}

nav { 



margin: 0;
float: right;
padding-right: 20%;


}

nav ul {

	
    padding-top: 5%;
  
}

nav li {

	display: inline;
	text-decoration: none;
	padding: 0px 15px;
	font-size: 18px;
	color: yellow;
	font-family: 'Carrois Gothic SC', sans-serif;
    
	

}

#stuff {
    
    display: inline;
	text-decoration: none;
    margin: 5%;
    
   
}



#stuff li
{
    padding-right: 5%;
    display: inline;
	text-decoration: none;
    font-size: 20px;
    
   
        
}

li:hover {
	color: orange;
}


.mainpwrap {
	
	margin-right: 20%;
    margin-left: 20%;
    border: 2px dashed purple;
}

.mainpwrap p {
	padding: 5px;
    color: white;
    font-family: 'Verdana', san-serif;
}



footer {

	background: #000;
	margin: 0 auto;
	min-width: 100%;
	min-height: 50px;
	border-top: solid 1px orange;
	overflow: hidden;

}









.fb-page
{
	float: right;
	padding-left: 60px;

}

#map
{
	float: left;
}

.fb-page #map footer {
	overflow: hidden;
}

#fbmap {
	display: table;
	clear: both;
}

.float:after {
  content: "";
  display: table;
  clear: both;
}